.Home {
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
}

#comingSoon {
  position: absolute;
  opacity: 0;
  transform: translate(170%, -50%);
  color: white;
  font-size: 7rem;
  font-weight: bold;
  z-index: 8;
  font-family: 'Franklin Gothic Book';
}
