.TitleBar {
  position: absolute;
  top: 970px;
  left: 0px;
  width: 1920px;
  height: 110px;
  background-color: rgba(254, 236, 209, 1);
}
#yellowBox {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: all 0.75s ease-in-out 0.55s;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.Attract {
  background-color: #f9a11b;
  min-width: 380px;
  width: fit-content;
  height: 100%;
}
.Home {
  width: 380px;
  height: 60%;
  background-color: #f9a01b73;
}
.Pages {
  background-color: #f9a11b;
  width: 380px;
  height: 90%;
}
.title {
  font-family: 'Franklin Gothic Demi';
  font-size: 64px;
  color: rgba(0, 0, 0, 0.5);
  bottom: 23px;
  left: 41px;
  position: absolute;
  margin: 0;
}
.attractTitle {
  transition: all 0.75s ease-in-out;
  position: absolute;
  width: 1540px;
  height: 132px;
  left: 0px;
  bottom: 0px;
  background: #0e558b;
  display: flex;
}
.attractTitleText {
  margin: 0;
  font-family: 'Franklin Gothic Demi';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 113px;
  display: flex;
  align-items: center;
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
}
.first {
  color: #d8dcdb;
  margin-left: 2rem;
}
.second {
  color: #aadeff;
  margin-left: 2rem;
}
