@font-face {
  font-family: 'Franklin Gothic Book';
  src: url('./fonts/FranklinGothicBookRegular.ttf');
}
@font-face {
  font-family: 'Franklin Gothic Demi';
  src: url('./fonts/FranklinGothicDemiRegular.ttf');
}

.Demi {
  font-family: 'Franklin Gothic Demi';
}
.Book {
  font-family: 'Franklin Gothic Book';
}
.disableClicks {
  pointer-events: none;
  touch-action: none;
}
.App {
  overflow: hidden;
}
